# Research Assignment 5 


Emily Ernst

How Wildifires Shape Health Outcomes Across Race in California

04/13/2024

In [1]:
// Setting path directory where all my stuff will be saved

cd "/Users/anhnguyentran/Desktop/Emilys Data"

/Users/anhnguyentran/Desktop/Emilys Data

In [2]:
// Setting up Data: Upload 
// CDC NEPHT Asthma Rates- Hospitalizations for Asthma Age-adjusted Rate of Hospitalizations for Asthma per ///
// 10,000 Population

import delimited using "data_172321.csv", clear

(encoding automatically selected: ISO-8859-2)
(9 vars, 464 obs)

In [3]:
ds

statefips    countyfips   year         datacomment  gender
state        county       value        v8

In [4]:
// Keeping only variables I need (value and datacomment are empty/full of missing observations)
keep countyfips county year value gender

In [5]:
order countyfips year

In [6]:
sort countyfips year

In [7]:
%head

,countyfips,year,county,value,gender
1,6001,2016,Alameda,4.3,Male
2,6001,2016,Alameda,4.8,Female
3,6001,2017,Alameda,4.4,Male
4,6001,2017,Alameda,4.9,Female
5,6001,2018,Alameda,3.6,Male

In [8]:
//NOTE: 2 values per year per county is for male/female asthma rates.

In [9]:
tab value if year==2016 & countyfips==6001

      Value |      Freq.     Percent        Cum.
------------+-----------------------------------
        4.3 |          1       50.00       50.00
        4.8 |          1       50.00      100.00
------------+-----------------------------------
      Total |          2      100.00

In [10]:
destring year, replace
destring countyfips, replace

year already numeric; no replace
countyfips already numeric; no replace

In [11]:
// Changing gender from string into categorical variable named "sex"

encode gender, gen(sex)

In [12]:
// Checking encode command

tab sex gender
tab sex, nol

           |        Gender
    Gender |    Female       Male |     Total
-----------+----------------------+----------
    Female |       232          0 |       232
      Male |         0        232 |       232
-----------+----------------------+----------
     Total |       232        232 |       464

     Gender |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |        232       50.00       50.00
          2 |        232       50.00      100.00
------------+-----------------------------------
      Total |        464      100.00

In [13]:
// Dropping the string variable for gender

drop gender

In [14]:
// Reshaping from long to wide data format

reshape wide value, i(countyfips year) j(sex)

(j = 1 2)

Data                               Long   ->   Wide
-----------------------------------------------------------------------------
Number of observations              464   ->   232
Number of variables                   5   ->   5
j variable (2 values)               sex   ->   (dropped)
xij variables:
                                  value   ->   value1 value2
-----------------------------------------------------------------------------

In [15]:
%head

,countyfips,year,value1,value2,county
1,6001,2016,4.8,4.3,Alameda
2,6001,2017,4.9,4.4,Alameda
3,6001,2018,4.2,3.6,Alameda
4,6001,2019,4.5,3.9,Alameda
5,6003,2016,4.1,2.6,Alpine

In [16]:
// Renaming the values so you know what is happening (1 = category of female, 2 = category of male)

rename value1 female_value
rename value2 male_value

In [17]:
// Checking for duplicates

quietly by countyfips year: gen dup= cond(_N==1,0,_n)

In [18]:
list dup if dup==1

// Nothing should show up if there are no duplicates

In [19]:
drop dup

In [20]:
save asthma.dta, replace

file asthma.dta saved

In [21]:
//Setting up Data: Upload
// CDC ACS Census Data: Racial demographics of CA by county
import delimited using "data_204959.csv" , clear

(encoding automatically selected: ISO-8859-1)
(9 vars, 1,624 obs)

In [22]:
ds

statefips     countyfips    year          datacomment   raceethnic~y
state         county        value         v8

In [23]:
keep countyfips year raceethnicity value

In [24]:
tab raceethnicity

                         Race Ethnicity |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
 All Non-White Races including Hispanic |        232       14.29       14.29
American Indian/Alaskan Native includ.. |        232       14.29       28.57
Asian/Pacific Islander including Hisp.. |        232       14.29       42.86
               Black including Hispanic |        232       14.29       57.14
                     Hispanic All Races |        232       14.29       71.43
               Other including Hispanic |        232       14.29       85.71
               White including Hispanic |        232       14.29      100.00
----------------------------------------+-----------------------------------
                                  Total |      1,624      100.00

In [25]:
// Turning raceethnicity from string into a numeric variable "race"

encode raceethnicity, generate(race)

In [26]:
drop raceethnicity

In [27]:
tab race
tab race, nol

                         Race Ethnicity |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
 All Non-White Races including Hispanic |        232       14.29       14.29
American Indian/Alaskan Native includin |        232       14.29       28.57
Asian/Pacific Islander including Hispan |        232       14.29       42.86
               Black including Hispanic |        232       14.29       57.14
                     Hispanic All Races |        232       14.29       71.43
               Other including Hispanic |        232       14.29       85.71
               White including Hispanic |        232       14.29      100.00
----------------------------------------+-----------------------------------
                                  Total |      1,624      100.00

       Race |
  Ethnicity |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |        232       14.29       14.29
          2 |        232       14.29       28.57
          3 |        232       14.29       42.86
          4 |        232       14.29       57.14
          5 |        232       14.29       71.43
          6 |        232       14.29       85.71
          7 |        232       14.29      100.00
------------+-----------------------------------
      Total |      1,624      100.00

In [28]:
// Reshaping format of value variable based on race

reshape wide value, i(countyfips year) j(race)

(j = 1 2 3 4 5 6 7)

Data                               Long   ->   Wide
-----------------------------------------------------------------------------
Number of observations            1,624   ->   232
Number of variables                   4   ->   9
j variable (7 values)              race   ->   (dropped)
xij variables:
                                  value   ->   value1 value2 ... value7
-----------------------------------------------------------------------------

In [29]:
%head

,countyfips,year,value1,value2,value3,value4,value5,value6,value7
1,6001,2016,49.5%,1.1%,31.5%,11.5%,22.3%,5.4%,50.5%
2,6001,2017,50.1%,1.1%,32.2%,11.3%,22.3%,5.4%,49.9%
3,6001,2018,50.6%,1.1%,33.0%,11.1%,22.2%,5.5%,49.4%
4,6001,2019,51.1%,1.1%,33.6%,10.9%,22.2%,5.5%,48.9%
5,6003,2016,26.8%,21.7%,1.6%,0.1%,9.9%,3.3%,73.2%

In [30]:
// Renaming all race categories

rename value1 nonwhite_value, replace
label variable nonwhite_value "Value for All Non-White Races including Hispanic"

In [31]:
rename value2 indian_value, replace
label variable indian_value "Value for American Indian/Alaskan Native including Hispanic"

In [32]:
rename value3 asian_value, replace
label variable asian_value "Value for Asian/Pacific Islander including Hispanic"

In [33]:
rename value4 black_value, replace
label variable black_value "Value for Black including Hispanic"

In [34]:
rename value5 allhispanic_value, replace
label variable allhispanic_value "Value for Hispanic All Races"

In [35]:
rename value6 otherhispanic_value, replace
label variable otherhispanic_value "Value for Other including Hispanic"

In [36]:
rename value7 white_value, replace
label variable white_value "Value for White including Hispanic"

In [37]:
%head

,countyfips,year,nonwhite_value,indian_value,asian_value,black_value,allhispanic_value,otherhispanic_value,white_value
1,6001,2016,49.5%,1.1%,31.5%,11.5%,22.3%,5.4%,50.5%
2,6001,2017,50.1%,1.1%,32.2%,11.3%,22.3%,5.4%,49.9%
3,6001,2018,50.6%,1.1%,33.0%,11.1%,22.2%,5.5%,49.4%
4,6001,2019,51.1%,1.1%,33.6%,10.9%,22.2%,5.5%,48.9%
5,6003,2016,26.8%,21.7%,1.6%,0.1%,9.9%,3.3%,73.2%

In [38]:
order countyfips year
sort countyfips year

In [41]:
// Turning all the value variables from string into numeric variable

foreach x in nonwhite_value-white_value {
destring `x', replace ignore("%")
}

nonwhite_value: character % removed; replaced as double
indian_value: character % removed; replaced as double
asian_value: character % removed; replaced as double
black_value: character % removed; replaced as double
allhispanic_value: character % removed; replaced as double
otherhispanic_value: character % removed; replaced as double
white_value: character % removed; replaced as double

In [42]:
%head

,countyfips,year,nonwhite_value,indian_value,asian_value,black_value,allhispanic_value,otherhispanic_value,white_value
1,6001,2016,49.5,1.1,31.5,11.5,22.3,5.4,50.5
2,6001,2017,50.1,1.1,32.2,11.3,22.3,5.4,49.9
3,6001,2018,50.6,1.1,33,11.1,22.2,5.5,49.4
4,6001,2019,51.1,1.1,33.6,10.9,22.2,5.5,48.9
5,6003,2016,26.8,21.7,1.6,.1,9.9,3.3,73.2

In [44]:
// Checking for duplicates

quietly by countyfips year: gen dup= cond(_N==1,0,_n)

In [45]:
list if dup==1

In [46]:
drop dup

In [47]:
save race.dta, replace

file race.dta saved

In [48]:
//never do merge m:m!!!!!!
//can do 1:m m:1 but never m:m
merge m:1 countyfips year using asthma.dta

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                               232  (_merge==3)
    -----------------------------------------

In [49]:
%head

,countyfips,year,nonwhite_value,indian_value,asian_value,black_value,allhispanic_value,otherhispanic_value,white_value,female_value,male_value,county,_merge
1,6001,2016,49.5,1.1,31.5,11.5,22.3,5.4,50.5,4.8,4.3,Alameda,Matched (3)
2,6001,2017,50.1,1.1,32.2,11.3,22.3,5.4,49.9,4.9,4.4,Alameda,Matched (3)
3,6001,2018,50.6,1.1,33,11.1,22.2,5.5,49.4,4.2,3.6,Alameda,Matched (3)
4,6001,2019,51.1,1.1,33.6,10.9,22.2,5.5,48.9,4.5,3.9,Alameda,Matched (3)
5,6003,2016,26.8,21.7,1.6,.1,9.9,3.3,73.2,4.1,2.6,Alpine,Matched (3)

In [50]:
drop _merge

In [ ]:
// Anh's codes from example assignment are below

In [ ]:
// Labeling dependent variable

label variable democrat "Identifies as Democrat"
label define democrat 0 "Not Democrat" 1 "Democrat"
label values democrat democrat

In [ ]:
// Taking a quick look at my independent variables
tab sex
tab race
tab rincome
tab polviews

In [ ]:
// Cleaning up political ideology variable

tab polviews, nol
gen liberal=polviews

replace liberal=1 if polviews==1 | polviews==2 | polviews==3
replace liberal=0 if liberal!=1

tab liberal

In [ ]:
// Labeling political ideology variable

label variable liberal "Identifies as Liberal"
label define liberal 0 "Not Liberal" 1 "Liberal"
label values liberal liberal

In [ ]:
// Creating a dummy for people of color
tab race, nol

gen poc=.

replace poc=1 if race==2 | race==3
replace poc=0 if race==1

tab poc

In [ ]:
// Labeling race variable

label variable poc "Identifies as Person of Color (PoC)"
label define poc 0 "Not PoC" 1 "PoC"
label values poc poc

In [ ]:
// Creating a dummy for women
tab sex, nol

gen female=1 if sex==2
replace female=0 if sex==1

tab female

In [ ]:
// Labeling sex variable

label variable female "Identifies as Woman"
label define female 0 "Not Woman" 1 "Woman"
label values female female

### 1. Develop hypotheses that approach a nominal variable in your dataset as a dependent variable (DV). [1 pt]

* If your nominal variable has more than two categorical variables, such as political party affiliation categories of -- Democrat, Democratic Socialist, Green, Independent, or Republican -- develop hypotheses that treat being or not being in at least one of the categories as a dichotomous binomial dependent variable (DV).

* Even if you are not interested in any categorical outcomes for your research project, still develop an hypothesis for at least one nominal variable in your data as a dependent variable. Thinking about potential influences on that variable could help you see if there are intervening relationships or omitted variable biases in your primary outcome of interest.

Do the following when you write your hypothesis:

    A. Write a separate hypothesis for each dependent variable (DV) you want to analyze.
    
    ---
    Anh's Example: I hypothesize that being a person of color, being female, having higher income, and being more liberal predicts identification with the Democratic party.
    ---
    
    B. For each dependent variable (DV) state the predicted direction of association between your dependent variable DV and independent variables (IVs) in your model. You can predict no relationship if you do not expect a relationship.
    
    ---
    Anh's Example: The relationship between income and Democratic party identification is negative. People of color, women, and liberals have higher odds of identifying with the Democratic party.
    ---
    
    C. Write a couple sentences about the theoretical reasons (prior knowledge / research) for each of your predictions
    
    ---
    Anh's Note: Refer back to either literature or to just your intuition. Either is fine.
    ---

### 2. Test your hypotheses [3 pts]

    A. Create a frequency table for your dependent variable (DV).

    B. Estimate an OLS model regressing your dichotomous dependent variable (DV) on your hypothesized independent variables (IVs) and store the results.
    
    C. Estimate an MLE logistic model regressing your dichotomous dependent variable (DV) on your hypothesized independent variables (IVs) and store the results.
    
    D. Use esttab to output the coefficients for your OLS and MLE logistic models with html formatting within your Jupyter Notebook.
    
    E. Use esttab to reoutput your coefficients as odd ratios.

In [ ]:
*** PART A: Creating frequency table for dependent variable

tab democrat

In [ ]:
// Clearing stored estimates

est clear

In [ ]:
*** PART B: Estimating an OLS model and storing results
// Use "ro", short for robust, to get robust standard errors

eststo: reg democrat i.poc i.female i.liberal rincome, ro

In [ ]:
*** PART C: Estimating an MLE logistic model and storing results
// Use "ro" again to get robust standard errors

eststo: logit democrat i.poc i.female i.liberal rincome, ro
eststo: margins, dydx(*) post atmeans

In [ ]:
*** PART D: Outputting Table Results

esttab ///
, cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
mlabels("OLS" "MLE / logistic" "MLE marginal effects") title("Unexpontiated Coefficients") ///
collabels(none) keep(1.poc 1.female 1.liberal rincome _cons)

In [ ]:
*** PART E: Outputting Table Results with Odds Ratio
// Do this by using "eform"

esttab ///
, cells(b(star fmt(2)) se(fmt(2) par)) stardetach  ///
	legend starlevels(^ .1 * .05 ** .01 *** .001) ///
mlabels("OLS" "MLE / logistic" "MLE marginal effects") title("Odds Ratio") ///
collabels(none) keep(1.poc 1.female 1.liberal rincome _cons) eform

### 3. Interpret your results [1 pt]

Write a couple sentences answering each of the following questions:

    A. How would you interpret the relationship between your dependent variable(s) (DVs) and independent variables (IVs) based on the odds ratios for you MLE logistic model?

    B. Do the overall estimates support or contradict your hypotheses? Why?
    
    C. Is there anything suprising in your model estimates? Why?
    
    D. How do the OLS coefficients and their standard errors compare to the MLE estimates? Are the coefficients and standard errors larger or smaller?

#### Part A: Interpreting Relationship

Feel free to use the following format for your assignment.
* For these interpretations, I am looking specifically at the odds ratio table and looking at the marginal effects column with regards to the MLE model. For odds ratios that are greater than 1 (which are positive odds ratios), you can substract the value by one and interpret it as a positive percent. For odds ratios less than 1 (which are negative odds ratios), you can also substract the value by one and interpret the value as a negative percent. 

Interpreting for nominal or dichotomous independent variables:
* Anh's example: The odds of identifying as Democrat is 7% more for people of color compared to white people. The odds of identifying as Democrat is 4% more for women compared to men. The odds of identifying as Democrat is 8% more for liberals compared to people who do not consider themselves to be liberal.

Interpreting for interval-ratio or continuous independent variables:
* Anh's example: For every one unit increase in respondent's income, there is a 0% increase in the odds of identifying as a Democrat. (This happens sometimes with results, where you get a statistically significant result but the odds ratio is 1.00 (or the coefficient is 0.00). A result like this indicates that the predictor/independent variable has either no effect or a very small/negligible effect on the outcome/dependent variable.)

When interpreting the unexponentiated coefficients, you would say something like "The log odds for being a person of color and identifying as a Democrat is 0.07."
* As Charlie implied during lecture, unexponentiated coefficients are hard to interpret. It is not intuitive for most people to look at that and understand what log odds is. That is why we transform the unexponentiated coefficients into odds ratios.

#### Part B: Comparing Results to Hypothesis

Refer back to the directions/general results you expected to find.
* Anh's example: The results provide some supporting evidence for my hypothesis. I expected to find that women, people of color, and liberals have higher odds of identifying as Democrats, and my findings support my predictions. Surprisingly however, there appears to be no relationship between income and identification with the Democratic party.

#### Part C: Surprising Findings

Part C is asking about which results are surprising based on intuition or what you know about the literature.
* Anh's example: I am surprised to see that income seemingly has no effect on party identification as a Democrat. Past research suggests that richer people tend to be Republicans rather than Democrats, but my result implies that this relationship may not be straightforward (as in income may not be the sole or even an important factor in party identification).

* NOTE: You may not have to answer this part of the question if the results support the predictions in Q1.

#### Part D: OLS VS MLE Results

Focus on magnitude, direction, and standard errors of the unexponentiated coefficients between the OLS and MLE marginal effects columns. If there are differences, state what is different (no need to explain why- if there is a difference, there is simply a difference).
* Anh's example: The magnitude, direction, and standard errors of my findings are comparable between the OLS and MLE models. There appears to be virtually no difference in the results.

### Notes from Anh

#### IMPORTANT: You don't have to include this following section in your assignment. This is just for your information.

#### What is maximum likelihood estimation (MLE)?

Maximum likelihood estimation involves finding "parameters that maximizes the likelihood of observing the sample data" (Treiman 2009:302). This process is what Charlie was trying to show us in class on the Excel sheet. You do not have to understand exactly how the math behind MLE is occurring; just remember that the process for generating results behind MLE is different than it is for OLS.
* Remember- likelihood is different than probability. With MLE, you are examining "the likelihood of the parameters μ and σ taking certain values given that we’ve observed a bunch of data" versus with OLS which has you examining "the probability density of observing the data with model parameters μ and σ" (reference this link for more information: https://towardsdatascience.com/probability-concepts-explained-maximum-likelihood-estimation-c7b4342fdbb1).

MLE comes with its own assumptions, similar to the assumptions of linear models which focus on minimizing the error of the sum of squares (OLS = ordinary least squares).

Assumptions of MLE:
1. Independence of errors: The observations are not related to one another.
2. Absence of multicollinearity: The independent variables are not highly correlated with one another.
    * Use the "vif" command in Stata to calculate the variance inflation scores and test for multicollinearity. 
    
3. Linearity in relationship between independent variables and log odds (aka the logit of the dependent variable): 
    * This assumption comes from the use of the following function in MLE:
    $Logit(p) = log\frac{p}{1-p}$
    
4. No extreme outliers: A large/adequate sample size is needed to accurately run MLE so that the outliers you have are not numerous or influential for the overall results.

#### Why do we calculate the marginal effects (specifically marginal odds ratios) for logistic regression?

We calculate the marginal effects of our logistic regression results so that we can compare coefficients/results across different models. When we get the marginal odds ratios for logistic regression, we are accounting for how the odds ratio (calculated without marginal effects) changes depending on all the independent variables that are included in a particular model.

Read more on this here: https://sociologicalscience.com/download/vol_10/april/SocSci_v10_332to347.pdf

#### Linear Probability Model vs Logistic Regression Model Debate

Treiman (P. 302): "Although as we have seen, OLS regression procedures can easily handle categorical independent  variables, they are not appropriate for categorical dependent variables, even dichotomies. In the case of dichotomous dependent variables, the assumptions of multiple regression, including in particular that errors of prediction are normally distributed, break down badly, often yielding seriously misleading results; moreover, predicted values often lie outside the logically possible range (zero to one)."
* To clarify, the biggest concern with the linear probability model (aka doing OLS regression for binary dependent variables) is that the results you receive may fall outside of the 0 - 1 spectrum, making the findings uninterpretable.

#### Quick Note on probit models

Probit models, also used in lieu of OLS when the dependent variable is dichotomous, provide comparable results that you will see when doing logistic regression. Probit models are not common in sociology (most sociologists use logistic regression for binary dependent variables).
* Probit models use the cumulative distribution function rather than maximum likelihood estimation. You would also calculate marginal effects for the coefficients of probit models when interpreting findings.
* Read more on doing probit models in Stata here: https://blog.stata.com/2016/01/07/probit-or-logit-ladies-and-gentlemen-pick-your-weapon/